<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                
				
  <rule name="cgi-pl-redirect" stopProcessing="true">
    <match url="^cgi-whitepages/expand-entry.pl$"  ignoreCase="true" />
	<conditions trackAllCaptures="true">
      <add input="{QUERY_STRING}" pattern="uid=(\d+)" />
    </conditions>
    <action type="Redirect" url="/#{C:1}" appendQueryString="false"/>
  </rule>
  
  
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
